<div ng-router="MainCtrl">
  <div class="col-xs-8 col-xs-offset-2 text-center">
    <h1 class="title">
      <span>How much </span>
      <span class="red">Internet speed </span>
      <span>do I need?</span>
    </h1>
  </div>
  <div class="col-xs-12 text-center">
    <p class="blurb">Just tell us how you use the Internet and we'll recommend an appropriate Internet speed.</p>
  </div>
  <div class="row text-center">
    <img id="laptop" src="http://www.highspeedinternet.com/includes/highspeedinternet/hmsdin/images/computers.svg" class="media" />
    <img id="phone" src="http://www.highspeedinternet.com/includes/highspeedinternet/hmsdin/images/mobile.svg" class="media" />
    <img id="games" src="http://www.highspeedinternet.com/includes/highspeedinternet/hmsdin/images/consoles.svg" class="media" />
    <img id="remote" src="http://www.highspeedinternet.com/includes/highspeedinternet/hmsdin/images/streaming.svg" class="media" />
  </div>
  <div id="button-box" class="row text-center">
    <button ui-sref="survey1" class="btn start-button">Let's Go</button>
  </div>
</div>
